/* @import './base.css'; */
@import "tailwindcss";


#app {
  /* max-width: 1280px; */
  /* background-color: aqua; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


#app {
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  /* padding: 0 2rem; */
}

html,body{
  min-height: 100vh;
  background-color: #e6e9f1;
}


